#body {
	width: 100vw;
	height: 100%;
	max-height: calc(100vh - var(--nav-height));
}

#chatApp {
	background: var(--darko-b);
	width: calc(100% - var(--side-width));
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
}

#messages {
	overflow: hidden auto;
	padding-bottom: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 100%;
}

#messages .message {
	margin: 2.5px 0;
	padding: 2.5px 0;
	width: 100%;
	height: fit-content;
}

#messages .message > p {
	white-space: pre-line;
}

#messages .message .username {
	white-space: nowrap;
	font-weight: 800;
}

#messages .message .timestamp {
	font-size: 10px;
	margin-left: 5px;
	color: rgba(255, 255, 255, 0.25);
}

#messages .message img {
	margin-top: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: calc(100% - 30px);
	max-width: 300px;
	height: auto;
	pointer-events: all;
}

#textArea {
	width: 100%;
	height: auto;
}

#textArea label.placeholder {
	position: absolute;
	z-index: 2;
	pointer-events: none;
	user-select: none;
	margin-left: 38px;
}

#textArea textarea {
	z-index: 1;
	width: 100%;
	height: auto;
	resize: none;
	background: var(--darko-c);
	border-radius: 3px;
	padding: 10px 2px;
	max-height: 200px;
	overflow: hidden auto;
	padding-left: 36px;
}

#uploadFile {
	position: absolute;
	z-index: 3;
	top: 2px;
	left: 2px;
}

#uploadFile > button {
	background: none;
}

#uploadFile > button:hover {
	filter: brightness(2);
}

#users {
	position: absolute;
	z-index: 5;
	right: 0;
	width: var(--side-width);
	height: 100%;
	background: var(--darko-b);
	box-shadow: -5px 0 7px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	padding: 5px;
}

#users .wrapper {
	overflow: hidden scroll;
	width: 100%;
	height: 100%;
	padding-right: 10px;
	box-sizing: border-box;
}

#users label.title {
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 1;
}

#users .user {
	width: 100%;
	height: 40px;
}

#users .user img.user-icon {
	height: 60%;
	border-radius: 100px;
	margin: 0 5px;
}

#users .user label.username {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#users .user button.validate {
	width: 25px;
	height: 25px;
	background: var(--darko-a);
	border-radius: 100px;
	margin: 0 2.5px;
	cursor: pointer;
}

#users .user button.validate:hover {
	filter: brightness(1.1);
}

#users .user button.validate:active {
	filter: brightness(0.85);
}

#users .user button.confirm {
	margin-left: auto;
}

#users .user button.validate img {
	width: auto;
	height: 60%;
}

#roomApp input {
	width: 100%;
	height: 35px;
}