#body {
	width: 100vw;
	height: 100%;
	max-height: calc(100vh - var(--nav-height));
}

#chatApp {
	background: var(--darko-b);
	width: calc(100% - var(--side-width));
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
}

#messages {
	overflow: hidden auto;
	padding-bottom: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#messages .message {
	margin: 2.5px 0;
	width: 100%;
	height: fit-content;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
}

#messages .message.mentioned {
	background: var(--messageHighlight);
}

#messages .message.server {
	background: var(--serverMessageHighlight);
}

#messages .tags {
	width: 100%;
	height: fit-content;
	margin-top: 2.5px;
}

#messages .tags p, #messages .tags span {
	font-size: 10px;
}

#messages .message > p {
	white-space: pre-line;
	word-break: break-word;
}

#messages .message .username {
	white-space: nowrap;
	font-weight: 800;
}

#messages .message .timestamp {
	font-size: 10px;
	margin-left: 5px;
	color: rgba(255, 255, 255, 0.25);
}

#messages .message > img, #messages .message > video, #messages .message > audio {
	margin-top: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: fit-content;
	max-width: 100%;
	max-height: 250px;
	object-fit: contain;
	pointer-events: all;
}

#messages .message > audio {
	width: 100%;
	max-width: 250px;
	height: 40px;
}

#messages .message .file {
	background: var(--darko-c);
	margin-top: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: calc(100% - 50px);
	max-width: 300px;
	height: 50px;
	padding: 5px 5px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

#messages .message .file img {
	height: 80%;
	pointer-events: none;
	margin-right: 2.5px;
}

#messages .message .fileInfoWrapper {
	width: calc(100% - 40px);
	overflow: hidden;
}

#messages .message .file label.file-name {
	color: var(--white);
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#messages .message .file label.file-size {
	font-size: 10px;
}

#tags {
	background: var(--darko-b);
	position: relative;
	width: 100%;
	height: fit-content;
	max-height: 200px;
	min-height: 40px;

	padding: 5px 0px;
	box-sizing: border-box;
}

#tags .wrapper {
	width: 100%;
	height: 100%;
	max-height: 180px;
	overflow: hidden auto;
	box-sizing: border-box;

	flex-wrap: wrap;
}

#tags div.tag {
	background: var(--darko-c);
	width: fit-content;
	max-width: calc(100% - 5px);
	height: 25px;
	flex-shrink: 0;
	padding: 0 5px;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;

	margin: 2.5px;
}

#tags div.tag label {
	pointer-events: none;
	user-select: none;

	overflow: hidden;
	text-overflow: ellipsis;
	width: fit-content;
	max-width: 100%;
	white-space: nowrap;
}

#tags div.tag img {
	height: 50%;
	margin-left: 5px;
}

#tags div.tag:hover {
	filter: brightness(1.1);
}

#tags div.tag:active {
	filter: brightness(1.2);
}

#textArea {
	width: 100%;
	height: auto;
}

#textArea label.placeholder {
	position: absolute;
	z-index: 2;
	pointer-events: none;
	user-select: none;
	margin-left: 38px;
}

#textArea #composeMessage {
	z-index: 1;
	width: 100%;
	height: auto;
	resize: none;
	background: var(--darko-c);
	border-radius: 3px;
	padding: 10px 2px;
	max-height: 200px;
	overflow: hidden auto;
	padding-left: 36px;
}

#textArea #composeMessage span.tag {
	padding: 2px 3px;
	box-sizing: border-box;
	background: var(--accent);
	border-radius: 3px;
}

#stats {
	width: 100%;
	height: 16px;
	pointer-events: none;
	user-select: none;
	overflow: hidden;
}

#stats * {
	font-size: 11px;
	color: var(--darko-g);
}

#stats p {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#uploadFile {
	position: absolute;
	z-index: 3;
	top: 2px;
	left: 2px;
}

#uploadFile > button {
	background: none;
}

#uploadFile > button:hover {
	filter: brightness(2);
}

#users {
	position: absolute;
	z-index: 5;
	right: 0;
	width: var(--side-width);
	height: 100%;
	background: var(--darko-b);
	box-shadow: -5px 0 7px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	padding: 5px;
}

#users .wrapper {
	overflow: hidden scroll;
	width: 100%;
	height: 100%;
	padding-right: 10px;
	box-sizing: border-box;
}

#users label.title {
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 1;
}

#users .user {
	width: 100%;
	height: 40px;
}

#users .user img.user-icon {
	height: 60%;
	border-radius: 100px;
	margin: 0 5px;
}

#users .user label.username {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#users .user button.validate {
	width: 25px;
	height: 25px;
	background: var(--darko-a);
	border-radius: 100px;
	margin: 0 2.5px;
	cursor: pointer;
}

#users .user button.validate:hover {
	filter: brightness(1.1);
}

#users .user button.validate:active {
	filter: brightness(0.85);
}

#users .user button.confirm {
	margin-left: auto;
}

#users .user button.validate img {
	width: auto;
	height: 60%;
}

#overlay {
	background: rgba(0, 0, 0, 0.5);
	z-index: 9997;
	width: 100vw;
	height: 100vh;
	pointer-events: all;
	user-select: none;
}

#imagePreviewApp {
	width: calc(95% - 100px);
	height: auto;
	min-width: 200px;
	max-height: 300px;
}

#imagePreviewApp img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: all;
	user-select: all;
}

#dropOverlay {
	background: var(--darko-b);
	z-index: 99991;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}

#dropOverlay img {
	width: 100px;
	pointer-events: none;
	user-select: none;
}

#lockOverlay {
	z-index: 9990;
	background: var(--darko-b);
	width: 100%;
	height: 100%;
}

#lockOverlay img {
	width: 50px;
	margin-bottom: 10px;
}

#lockOverlay p {
	pointer-events: none;
	user-select: none;
}

#splashScreen {
	position: absolute;
	z-index: 999999999999999999999;
	width: 100vw;
	height: 100vh;
	background: var(--darko-b);
}

#splashScreen .brandWrapper {
	width: 100%;
	height: 100%;
}

#splashScreen .brandWrapper img:first-child {
	height: 50px;
}

#splashScreen .brandWrapper img:last-child {
	height: 20px;
	margin-top: 30px;
}

#emptyRooms {
	z-index: 9990;
	background: var(--darko-b);
	width: 100%;
	height: 100%;
}

#emptyRooms img {
	width: 50px;
	margin-bottom: 10px;
}

#emptyRooms p {
	pointer-events: none;
	user-select: none;
}

canvas#zzz {
	position: absolute;
	left: 0;
	top: 0;
}