/*Custom select*/

.select {
	background: var(--darko-b);
	cursor: pointer;
	width: 120px;
	height: 35px;
	border-radius: 3px;
	padding: 0 5px;
}

.select .select-infoWrapper {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.select label.select-value {
	pointer-events: none;
	user-select: none;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	text-align: left;
}

.select img.select-arrow {
	width: auto;
	height: 30%;
	margin-left: auto;
	margin-right: 5px;
}

.select .select-itemWrapper {
	position: absolute;
	z-index: 999999;
	top: calc(100% + 5px);
	left: 0;
	background: var(--darko-b);
	overflow-x: hidden;
	overflow-y: auto;
	width: 200px;
	height: fit-content;
	max-height: 200px;
	padding: 10px 5px;
}

.select .select-itemWrapper input.select-filter {
	background: rgba(0, 0, 0, 0.15);
	color: var(--white);
	padding: 0 5px;
	width: calc(100% - 15px);
	height: 35px;
	margin-bottom: 5px;
	border-radius: 3px;
	flex-shrink: 0;
}

.select .select-itemWrapper button.select-item {
	background: none;
	width: 100%;
	height: 30px;
	overflow: hidden;
	padding-left: 10px;
	cursor: pointer;
	flex-shrink: 0;
}

.select .select-itemWrapper button.select-item:hover {
	background: rgba(255, 255, 255, 0.02);
	filter: brightness(1.1);
}

.select .select-itemWrapper button.select-item img {
	height: 50%;
}

.select .select-itemWrapper button.select-item span {
	margin-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 20px);
	text-align: left;
	user-select: none;
	pointer-events: none;
}

/*Custom File*/
.custom-file {
	position: relative;
	width: 30px;
	height: 30px;
}

.custom-file > button {
	background: none;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.custom-file > button img {
	width: auto;
	height: 50%;
}

.custom-file > input[type="file"] {
	position: absolute;
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.custom-input {
	width: fit-content;
	height: fit-content;
}

.custom-input img.icon {
	position: absolute;
	height: 40%;
	margin-left: 10px;
}