#roomApp {
	width: 300px;
}

#roomApp input {
	width: 100%;
	height: 35px;
}

#fileUploadApp {
	width: 300px;
}

#fileUploadApp .header .title {
	max-width: calc(100% - 50px);
	overflow: hidden;
	text-overflow: ellipsis;
}

#filePreviews {
	width: 100%;
	overflow: auto hidden;
}

#filePreviews .filePreview {
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	flex-shrink: 0;
}

#filePreviews .filePreview .imagePreview, #filePreviews .filePreview .blobPreview {
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 100px;
	border-radius: 5px;
}

#filePreviews .filePreview button.fileRemove {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	background: none;
	width: 40px;
	height: 40px;
	padding: 0;
	display: none;
	
	filter: brightness(0.1);
	opacity: 0.5;
}

#filePreviews .filePreview p.fileName {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin: auto;
	width: calc(100% - 15px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	background: rgba(0, 0, 0, 0.35);
	padding: 3px 5px;
	border-radius: 3px;
	line-height: 1;
	user-select: none;
	pointer-events: none;
}

#filePreviews .filePreview:hover {
	filter: brightness(0.9);
}

#filePreviews .filePreview:active {
	filter: brightness(0.8);
}

#filePreviews .filePreview:hover button.fileRemove {
	display: block;
}

#filePreviews .filePreview button.fileRemove img {
	width: 100%;
	height: 100%;
	margin: 0;
}

#uploadsList {
	position: absolute;
	z-index: 9999;
	bottom: 5px;
	right: 5px;
	width: calc(100% - 20px);
	max-width: 300px;
	min-width: 200px;
	padding: 5px;
	box-sizing: border-box;
}

#uploadsWrapper {
	overflow: hidden auto;
	max-height: 400px;
}

#uploadsList .upload {
	background: var(--darko-c);
	border-radius: 5px;
	width: 100%;
	max-width: 300px;
	height: 50px;
	padding: 5px 5px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px 0;
	flex-shrink: 0;
}

#uploadsList .upload img {
	height: 80%;
	pointer-events: none;
	margin-right: 2.5px;
}

#uploadsList .upload-info {
	width: calc(100% - 40px);
	overflow: hidden;
}

#uploadsList .upload-info label.upload-name {
	color: var(--white);
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#uploadsList .upload-progress-wrapper {
	position: relative;
	width: 100%;
	height: 4px;
	background: var(--darko-b);
	border-radius: 3px;
	margin-top: 2px;
	overflow: hidden;
}

#uploadsList .upload-progress-wrapper .upload-progress {
	position: absolute;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--accent);
}

#uploadsList button.upload-cancel {
	background: none;
	width: 20px;
	height: 20px;
	padding: 0;
	margin-left: 5px;
}
