:root {
	--white: #d3d6d9;
	--accent: #3c69fc;
	--warning: #fff587;

	--darko-a: #1b1d20;
	--darko-b: #25272b;
	--darko-c: #303338;
	--darko-d: #2b2d31;
	--darko-e: #3c4148;
	--darko-f: #41454c;
	--darko-g: #525761;
	--darko-h: #626976;
	--darko-i: #7b808b;

	--nav-height: 50px;
	--side-width: 250px;
}

::placeholder, .placeholder {
	color: rgba(255, 255, 255, 0.2);
	user-select: none;
	pointer-events: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-track {
  background: rgba(240, 230, 255, 0.04);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(240, 230, 255, 0.08);
  border-radius: 10px;
}

* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: none;
	font-family: "Roboto Mono", "Consolas";
	font-size: 12px;
	color: var(--white);
}

body {
	background: black;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

div {
	position: relative;
}

img {
	pointer-events: none;
	user-select: none;
}

input.default {
	background: var(--darko-b);
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	height: 35px;
	box-sizing: border-box;
}

input.default:focus {
	box-shadow: 0 0 0 2px var(--accent);
}

button.default {
	background: var(--darko-b);
	border-radius: 3px;
	cursor: pointer;
	width: fit-content;
	height: 35px;
	padding: 0 10px;

	transition-duration: 100ms;
	transition-property: filter, background, color;
}

button.default:hover {
	filter: brightness(1.05);
}

button.default:active {
	filter: brightness(0.85);
}

button {
	user-select: none;
}

button * {
	pointer-events: none;
	user-select: none;
}

button.default img {
	width: auto;
	height: 30%;
}

button span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	text-align: left;
	user-select: none;
	pointer-events: none;
	margin-left: 10px;
}

button.accent {
	background: var(--accent);
}

.darko-a {
	background: var(--darko-a);
}

.note {
	color: var(--darko-i);
	pointer-events: none;
	user-select: none;
}

.flex {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.flex.row {
	flex-direction: row;
}

.flex.row.h-center {
	justify-content: center;
}

.flex.row.v-center {
	align-items: center;
	align-content: center;
}

.flex.col {
	flex-direction: column;
}

.flex.col.h-center {
	align-items: center;
	align-content: center;
}

.flex.col.v-center {
	justify-content: center;
}

.flex.center {
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flex .nl {
	flex-basis: 100%;
}

.hidden {
	display: none;
}

.dialog {
	background: var(--darko-c);

	padding: 5px 10px;
	width: fit-content;
	height: fit-content;
	min-width: 100px;
	min-height: 60px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.absolute {
	position: absolute;
	z-index: 9999;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.dialog .header {
	width: 100%;
	height: 30px;
}

.dialog .body {
	width: 100%;
	height: fit-content;
	min-height: 30px;
	margin: 2.5px 0;
	padding: 2.5px 0;
}

.dialog .footer {
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.dialog .header label.title {
	font-weight: 800;
	font-size: 14px;
	user-select: none;
	pointer-events: none;
	white-space: nowrap;
}

.dialog .header button.close {
	margin-left: auto;

	background: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.dialog .header button.close::before {
	content: url("./../assets/svg/cross.svg");
	width: 50%;
	height: 50%;
}

.dialog .header button.close:hover::before {
	color: white;
	transition-duration: 200ms;
}

.dialog .header button.close:active::before {
	opacity: 0.5;
	transition-duration: 100ms;
}

.dialog .footer button.cancel {
	background: none;
	color: var(--darko-i);
}

.dialog .body > * {
	margin: 2.5px;
}

.dialog .footer button.submit {
	margin-left: auto;
	min-width: 90px;
}

