#navigation {
	width: 100vw;
	height: var(--nav-height);
}

#navigation > * {
	margin: 5px;
}

#navigation #brand {
	font-weight: 800;
	width: fit-content;
	height: 100%;
	padding: 0 5px;
	box-sizing: border-box;
	cursor: pointer;
}

#navigation #brand img {
	width: auto;
	height: 40%;
}

#navigation .custom-input {
	margin-left: auto;
}

#username {
	padding-left: 35px;
	width: 120px;

	background: unset;
}

#username:hover, #username:focus {
	background: var(--darko-b);
}