#navigation {
	width: 100vw;
	height: var(--nav-height);
}

#navigation > * {
	margin: 5px;
}

#navigation #brand {
	pointer-events: none;
	user-select: none;
	font-weight: 800;
	width: fit-content;
	height: 100%;
	padding: 0 5px;
	box-sizing: border-box;
}

#navigation #brand img {
	width: auto;
	height: 30%;
}

#username {
	margin-left: auto;
}