<!DOCTYPE html>
<html>
	<head>
		<title>a94</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/component.css">
		<link rel="stylesheet" type="text/css" href="css/navigation.css">
		<link rel="stylesheet" type="text/css" href="css/body.css">
		<link rel="stylesheet" type="text/css" href="css/dialogs.css">
	</head>
	<body class="flex col">
		<div id="overlay" class="absolute hidden"></div>
		<div id="imagePreviewApp" class="absolute flex center hidden">
			<img src="assets/images/2pliq2.jpg">
		</div>
		
		<div id="uploadsList" class="dialog hidden">
			<div id="uploadsWrapper" class="body flex col">
				<!-- <div class="upload flex row v-center">
								<img src="assets/svg/file.svg">
								<div class="upload-info flex col">
												<label class="note upload-name">Sample.pngffffffffffffffffffffffffffff</label>
												<div class="upload-progress-wrapper">
																<div class="upload-progress"></div>
												</div>
								</div>
								<button class="upload-cancel default flex center">
									<img src="assets/svg/cross-alt.svg">
								</button>
				</div> -->
			</div>
		</div>
		
		<div id="fileUploadApp" class="dialog absolute flex col" v-if="!hidden">
			<div class="header flex row v-center">
				<label class="title">{{fileName}}</label>
				<button class="close flex center" v-on:click="hide"></button>
			</div>
			<div id="filePreviews" class="body flex row v-center">
				<div class="filePreview">
					<img class="imagePreview" src="assets/images/2pliq2.jpg">
					<p class="fileName">pesfjsaroj921-rj21-9jr21-fp39jf01f.png</p>
					<button class="default fileRemove">
					<img src="assets/svg/cross-alt.svg">
					</button>
				</div>
				<div class="filePreview">
					<img class="blobPreview" src="assets/svg/file.svg">
					<p class="fileName">pesfjsaroj921-rj21-9jr21-fp39jf01f.png</p>
					<button class="default fileRemove">
					<img src="assets/svg/cross-alt.svg">
					</button>
				</div>
			</div>
			<div class="body flex">
				<p class="note">Upload to {{roomName}}</p>
			</div>
			<div class="footer flex row v-center">
				<button class="cancel default accent" v-on:click="hide">Cancel</button>
				<button class="submit default accent" v-on:click="upload">Upload</button>
			</div>
		</div>
		<div id="roomApp" class="dialog absolute flex col" v-if="!hidden">
			<div class="header flex row v-center">
				<label class="title">Enter your code</label>
				<button class="close flex center" v-on:click="hide"></button>
			</div>
			<div class="body flex">
				<p class="note">This will connect you to the people who have the same code.</p>
			</div>
			<div class="body flex">
				<input id="roomCode" type="text" class="default" placeholder="Code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
			</div>
			<div class="body flex">
				<p class="note">Leave blank for a random code.</p>
			</div>
			<div class="footer flex row v-center">
				<button class="cancel default accent" v-on:click="hide">Cancel</button>
				<button class="submit default accent" v-on:click="join">Join</button>
			</div>
		</div>
		<div id="navigation" class="darko-a flex row v-center">
			<div id="brand" class="flex center">
				<img src="assets/svg/a94.svg">
			</div>
			<div id="rooms" class="select flex col h-center">
				<div class="select-infoWrapper flex row v-center">
					<label class="select-value">Rooms</label>
					<img src="assets/svg/arrow-down.svg" class="select-arrow"></img>
				</div>
				<div class="dialog select-itemWrapper hidden flex col h-center">
					<input id="roomFilter" class="default select-filter" placeholder="Filter" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input>
					<!--
					<button value="654" class="select-item flex row v-center room">
					<img src="assets/svg/chat-bubble.svg">
					<span>Room B</span>
					</button>
					-->
				</div>
			</div>
			<button id="createRoom" class="default flex row v-center">
			<img src="assets/svg/plus.svg">
			<span>Join Room</span>
			</button>
			<input id="username" class="default" placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></input>
		</div>
		<div id="body" class="flex row">
			<div id="lockOverlay" class="absolute flex center hidden">
				<div class="flex col h-center">
					<img src="assets/svg/lock.svg">
					<p>This room is locked.</p>
				</div>
			</div>
			<div id="dropOverlay" class="absolute flex center" style="visibility: hidden;">
				<img src="assets/svg/drop.svg">
			</div>
			<div id="chatApp" class="flex col">
				<div id="messages" class="flex col">
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">Anon5912</p>
							<p class="timestamp">10:37 AM</p>
						</div>
						<p>Hello guys</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">getrekt47</p>
							<p class="timestamp">10:39 AM</p>
						</div>
						<p>hey there! what's up? btw here's an image of spongebob</p>
						<img src="assets/images/2pliq2.jpg">
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">getrekt47</p>
							<p class="timestamp">10:39 AM</p>
						</div>
						<p>video test</p>
						<video controls>
							<source src="assets/images/video0-3.mp4">
						</video>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">getrekt47</p>
							<p class="timestamp">10:39 AM</p>
						</div>
						<p>audio test</p>
						<audio controls>
							<source src="assets/images/bruh.mp3">
						</audio>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">getrekt47</p>
							<p class="timestamp">10:39 AM</p>
						</div>
						<p>Sample file</p>
						<div class="file flex row v-center">
							<img src="assets/svg/file.svg">
							<div class="fileInfoWrapper flex col">
								<label class="note file-name">Sample.pngffffffffffffffffffffffffffff</label>
								<label class="note file-size">512 kb</label>
							</div>
						</div>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
					<div class="message flex col">
						<div class="flex row v-center">
							<p class="username">nospampls69</p>
							<p class="timestamp">10:40 AM</p>
						</div>
						<p>guyz plz dont spam lul</p>
					</div>
				</div>

				<div id="tags" class="flex hidden">
					<div class="wrapper flex row">

					</div>
				</div>

				<div id="textArea" class="textArea flex row v-center">

					<div id="tagList" class="dialog flex col" v-if="!hidden">
						<div class="wrapper flex col">
							<!-- <button class="default flex row v-center">
								<img src="assets/svg/user.svg"></img>
								<span>Test</label>
							</button>
							<button class="default flex row v-center">
								<img src="assets/svg/user.svg"></img>
								<span>Test</label>
							</button>
							<button class="default flex row v-center">
								<img src="assets/svg/user.svg"></img>
								<span>Test</label>
							</button>
							<button class="default flex row v-center">
								<img src="assets/svg/user.svg"></img>
								<span>Test</label>
							</button>
							<button class="default flex row v-center">
								<img src="assets/svg/user.svg"></img>
								<span>Test</label>
							</button>
							<button class="default flex row v-center">
								<img src="assets/svg/user.svg"></img>
								<span>Test</label>
							</button> -->
						</div>
					</div>

					<div id="uploadFile" class="custom-file">
						<input id="fileInput" type="file" multiple title="">
						<button class="flex col center">
						<img src="assets/svg/plus-alt.svg">
						</button>
					</div>
					<label class="placeholder">Type here...</label>
					<div contentEditable="true" id="composeMessage" class="auto-height default" rows="1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
				</div>
			</div>
			<div id="users" class="flex col h-center">
				<div class="wrapper flex col">
					<label class="title">Users (<span id="userCount">1</span>)</label>
					<div class="user flex row v-center">
						<img class="user-icon" src="assets/svg/user.svg"></img>
						<label class="username">Anon#591ffffffffffffffffffffffffffffffffffffffffffffffff2</label>
					</div>
					<div class="user flex row v-center">
						<img class="user-icon" src="assets/svg/user.svg"></img>
						<label class="username">Anon#5912</label>
						<button class="validate confirm flex row center">
						<img src="assets/svg/check-green.svg">
						</button>
						<button class="validate decline flex row center">
						<img src="assets/svg/cross-red.svg">
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- libraries -->
		<script
		src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
		<script src="js/jquery.caret.js"></script>
		<script src="js/vue.dev.js"></script>
		<script src="js/autosize.js"></script>
		<!-- scripts -->
		<script src="js/component.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>